export PYTHON_KEYRING_BACKEND=keyring.backends.null.Keyring
export PATH="$PWD/toolchain/llvm/bin:$PATH"
export XRAY_OPTIONS="patch_premain=true xray_mode=xray-basic verbosity=1 log_file_path=trace.xray"
