export PYTHON_KEYRING_BACKEND=keyring.backends.null.Keyring
# export PATH="$PWD/toolchain/llvm/bin:$PATH"
# export FUZZTEST_PRNG_SEED=KXO_Wr6PxZv6yBKO3YvdrgEf_S16TpIveOnDruR5JTE
export LD_PRELOAD="/usr/lib64/gcc/x86_64-pc-linux-gnu/13.2.1/../../../../lib64/libasan.so"
export ASAN_OPTIONS=detect_leaks=0
