export PYTHON_KEYRING_BACKEND=keyring.backends.null.Keyring
# export LLVM_DIR="$PWD/toolchain/llvm"
# export LLVM_CLANG_LIBS_PATH="${LLVM_DIR}/lib/clang/17/lib/x86_64-unknown-linux-gnu"
# export LLVM_LIBS_PATH="${LLVM_DIR}/lib/x86_64-unknown-linux-gnu"
# export LD_LIBRARY_PATH="${LLVM_CLANG_LIBS_PATH}:${LLVM_LIBS_PATH}"
# export PATH="$PWD/toolchain/llvm/bin:$PATH"
# export LD_PRELOAD="$PWD/toolchain/llvm/lib/clang/18/lib/x86_64-unknown-linux-gnu/libclang_rt.asan.so"
# export LD_PRELOAD="$PWD/build/deps_build/protobuf/libprotoc.so"
# export LD_PRELOAD="/usr/lib64/gcc/x86_64-pc-linux-gnu/13.2.1/../../../../lib64/libasan.so"
# export ASAN_SYMBOLIZER_PATH="${LLVM_DIR}/bin/llvm-symbolizer"
export ASAN_OPTIONS="detect_leaks=0"
# export ASAN_OPTIONS=

export INVOKE_EMSCRIPTEN=ON
export CCACHE_DISABLE=1
