[submodule "toolchain/RE-flex"]
	path = toolchain/RE-flex
	url = https://github.com/Genivia/RE-flex.git
[submodule "thirdparty/immer"]
	path = thirdparty/immer
	url = https://github.com/arximboldi/immer.git
[submodule "thirdparty/lager"]
	path = thirdparty/lager
	url = https://github.com/arximboldi/lager.git
[submodule "thirdparty/libgit2"]
	path = thirdparty/libgit2
	url = https://github.com/libgit2/libgit2.git
[submodule "thirdparty/fuzztest"]
	path = thirdparty/fuzztest
	url = https://github.com/google/fuzztest.git
[submodule "thirdparty/yaml-cpp"]
	path = thirdparty/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "thirdparty/pybind11"]
	path = thirdparty/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "thirdparty/range-v3"]
	path = thirdparty/range-v3
	url = https://github.com/ericniebler/range-v3.git
[submodule "thirdparty/perfetto"]
	path = thirdparty/perfetto
	url = https://android.googlesource.com/platform/external/perfetto
[submodule "thirdparty/benchmark"]
	path = thirdparty/benchmark
	url = https://github.com/google/benchmark.git
