[submodule "thirdparty/RE-flex"]
	path = thirdparty/RE-flex
	url = https://github.com/Genivia/RE-flex.git
[submodule "thirdparty/immer"]
	path = thirdparty/immer
	url = https://github.com/arximboldi/immer.git
[submodule "thirdparty/lager"]
	path = thirdparty/lager
	url = https://github.com/arximboldi/lager.git
[submodule "thirdparty/libgit2"]
	path = thirdparty/libgit2
	url = https://github.com/libgit2/libgit2.git
[submodule "thirdparty/yaml-cpp"]
	path = thirdparty/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "thirdparty/pybind11"]
	path = thirdparty/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "thirdparty/range-v3"]
	path = thirdparty/range-v3
	url = https://github.com/ericniebler/range-v3.git
[submodule "thirdparty/perfetto"]
	path = thirdparty/perfetto
	url = https://android.googlesource.com/platform/external/perfetto
[submodule "thirdparty/json"]
	path = thirdparty/json
	url = https://github.com/nlohmann/json.git
[submodule "thirdparty/mp11"]
	path = thirdparty/mp11
	url = https://github.com/boostorg/mp11.git
[submodule "thirdparty/describe"]
	path = thirdparty/describe
	url = https://github.com/boostorg/describe.git
[submodule "thirdparty/SQLiteCpp"]
	path = thirdparty/SQLiteCpp
	url = https://github.com/SRombauts/SQLiteCpp
[submodule "thirdparty/protobuf"]
	path = thirdparty/protobuf
	url = https://github.com/protocolbuffers/protobuf.git
[submodule "thirdparty/googletest"]
	path = thirdparty/googletest
	url = https://github.com/google/googletest.git
[submodule "thirdparty/abseil-cpp"]
	path = thirdparty/abseil-cpp
	url = https://github.com/abseil/abseil-cpp.git
[submodule "thirdparty/adaptagrams"]
	path = thirdparty/adaptagrams
	url = https://github.com/mjwybrow/adaptagrams.git
[submodule "thirdparty/lexy"]
	path = thirdparty/lexy
	url = https://github.com/foonathan/lexy.git
[submodule "thirdparty/imgui_test_engine"]
	path = thirdparty/imgui_test_engine
	url = https://github.com/ocornut/imgui_test_engine.git
[submodule "thirdparty/cpptrace"]
	path = thirdparty/cpptrace
	url = https://github.com/jeremy-rifkin/cpptrace.git
[submodule "thirdparty/preprocessor"]
	path = thirdparty/preprocessor
	url = https://github.com/boostorg/preprocessor.git
[submodule "thirdparty/cctz"]
	path = thirdparty/cctz
	url = https://github.com/google/cctz.git
[submodule "thirdparty/msgpack-c"]
	path = thirdparty/msgpack-c
	url = https://github.com/msgpack/msgpack-c.git
[submodule "thirdparty/tracy"]
	path = thirdparty/tracy
	url = https://github.com/wolfpld/tracy.git
[submodule "thirdparty/benchmark"]
	path = thirdparty/benchmark
	url = https://github.com/google/benchmark.git
