[tool.poetry]
name = "py-haxorg"
version = "0.1.0"
description = ""
authors = ["haxscramper <haxscramper@gmail.com>"]
readme = "README.org"

[tool.poetry.dependencies]
python = "^3.10.0 <3.14"
beartype = "^0.22.0"
