[tool.poetry]
name = "cxx-repository"
version = "0.1.0"
description = ""
authors = ["haxscramper <haxscramper@gmail.com>"]
readme = "README.org"

[tool.poetry.dependencies]
python = "^3.10.0 <3.14"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
