name: pre-commit

on:
  push:
  pull_request:

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: sudo apt-get update && sudo apt-get install -y clang-format
      - uses: astral-sh/setup-uv@v4
      - run: uv sync --dev
      - run: uv run --dev pre-commit run --all-files
