name: Docker release test

on:
  push:
  workflow_dispatch:

jobs:
  docker-test:
    concurrency:
      group: release-test-${{ github.workflow }}-${{ github.ref }}
      cancel-in-progress: true

    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        submodules: recursive
        
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
      
    - name: Cache Docker image
      uses: actions/cache@v3
      id: docker-cache
      with:
        path: /tmp/docker-image
        key: docker-${{ hashFiles('scripts/py_repository/cpack_build_in_fedora.dockerfile') }}
        
    - name: Load cached Docker image
      if: steps.docker-cache.outputs.cache-hit == 'true'
      run: docker load -i /tmp/docker-image/image.tar
      
    - name: Build Docker image
      if: steps.docker-cache.outputs.cache-hit != 'true'
      run: |
        docker build -t docker-haxorg-cpack -f scripts/py_repository/cpack_build_in_fedora.dockerfile .
        mkdir -p /tmp/docker-image
        docker save docker-haxorg-cpack -o /tmp/docker-image/image.tar
        
    - name: Create build directory
      run: mkdir -p /tmp/haxorg_cpack_build_dir_1
